@import "./reset";
@import "./variables";
@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
};
.title {
    text-align: center;
    margin-top: 2rem;
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.container {
    @include flexBetween();
    margin:1rem;
    .icon img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .input {
        width: 30%;
        .search{
            width: 100%;
            padding: 0.5rem 0.3rem;
            outline: none;
            border: none;
            border-bottom: 2px solid $black;
        }
    }
}
.image {
    margin: 1rem;
    position: relative;
    img{
        width:400px;
        border-radius: 10px;
    }
    }
.texts {
        position: absolute;
        right: 0;
        max-height: 100%;
        padding: 10px;
        left: 0;
        bottom: 0;
        background: $white;
        overflow-y: scroll;
        display: none;
        width: 400px;
        transform: translateY(100%);
}
.image:hover .texts{
    transform: translateY(0);
    display: block;
}
.meal {
    padding: 10px;
}
@media(max-width:$mobile) {
    .main {
        display: block;
        overflow: hidden;
    }
    .image {
        margin: 1rem;
    }
    .image img {
        width: 300px;
    }
}
